
@font-face {
  font-family: 'Anonymous Pro';
  src: URL('fonts/Anonymous-Pro/Anonymous_Pro_B.ttf') format('ttf');
}

@font-face {
    font-family: textGyre;
    src: url("/Users/Guest/desktop/blackspace/fonts/texgyrecursor-regular.otf") format("opentype");
}

@font-face {
    font-family: Larabiefont;
    src: url("/Users/Guest/desktop/blackspace/fonts/larabiefont rg.ttf") format("opentype");
}

@font-face {
    font-family: digital;
    src: url("/Users/Guest/desktop/blackspace/fonts/digital-7.ttf") format("opentype");
}

body {
  background-color: black;
}

canvas {
position: fixed;
overflow: hidden;
z-index: -1;
height: 100% !important;
width: 100% !important;
}

img {
  display: block;
  margin: auto;
  height: 12vh;
}

p {
  font-size: 20px;
  color:#515151;
}

.col-xs-6 {
  width: 50%;
  height: 80vh;
  padding-top: 22.75vh;
}

.header {
  height: 18vh;
  text-align: center;
}

#textBox {
  height: 100%;
  width: 100%;
  background: transparent;
  font-family: "Cutive Mono";
  color: white;
  font-size: 80px;
  overflow: auto;
  outline: none;
  border-style: none;
  border-color: transparent;
  /*overflow: hidden;*/
}

#layers {
  height:100%;
  width: 100%;
  font-family: "Cutive Mono";
  color: white;
  font-size: 80px;
  overflow: auto;
}

.layer {
  position: absolute;
  right: 0%;
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
  height: 100%;
  word-wrap: break-word;
  word-break: break-all;
  /*overflow: hidden;*/
  text-align: right;
}

/*
#layers {
  height:100%;
  width: 100%;
  background: transparent;
  font-family: "Cutive Mono";
  outline: none;
  border-style: none;
  border-color: transparent;
  overflow: auto;
  float: left;
  background: transparent;
  color: white;
  font-size: 80px;
}

#textBox {
  height: 100%;
  background: transparent;
  font-family: "Cutive Mono";
  outline: none;
  border-style: none;
  border-color: transparent;
  overflow: auto;
  text-align: left;
  float: right;
  background: transparent;
  color: white;
  font-size: 80px;
}

.styled-select{
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #fff;
   background-color: #000;
   outline: none;
   display: block;
   position:absolute;
   bottom:1px;
 }
