.anonymous-pro {
  font-family: 'Anonymous Pro';
}

.cutive-mono {
  font-family: "Cutive Mono";
}

.droid-sans {
  font-family: "Droid Sans Mono";
}

.fira {
  font-family: "Fira Mono";
}

.nova {
  font-family: "Nova Mono";
}

.roboto {
  font-family: "Roboto Mono";
}

.space-mono {
  font-family: "Space Mono";
}

.ubuntu {
  font-family: "Ubuntu Mono";
}

.vt323 {
  font-family: "VT323";
}

.bright {
  color: rgba(200, 253, 243, 1) !important;

}

body {
  background-color: black;
}

.white-body{
  background-color: white;
}

canvas#waves {
position: fixed;
overflow: hidden;
z-index: -1;
height: 100%;
width: 100%;
}

img {
  display: block;
  margin: auto;
  height: 12vh;
}

p {
  font-family: 'Anonymous Pro', fantasy;
  font-size: 20px;
  color:#515151;
}

.col-xs-6 {
  width: 50%;
  height: 80vh;
  padding-top: 22.75vh;
}



.text-box {
  height: 100%;
  width: 100%;
  background: transparent;
  color: white;
  font-size: 80px;
  overflow: auto;
  outline: none;
  border-style: none;
  border-color: transparent;
  word-wrap: break-word;
  word-break: break-all;
}


.layers {
  float: right;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 80px;
}

.black-text {
  color: black;
}

.layer {
  position: absolute;
  right: 0.25em;
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
  height: auto;
  word-wrap: break-word;
  word-break: break-all;
  text-align: right;
}

#whitespace-logo {
  display: none;
}

.header {
  height: 18vh;
  text-align: center;
}

#logo-img {
  position: absolute center;
}

 /*START DROPDOWN MENU*/
 nav {
 	margin: 100px auto;
 	text-align: center;
  position: absolute;
  right: 5vh;
 }

 nav ul {
 	margin-left: 0;
 	padding-left: 0;
 	width: 500px;
 	list-style: none;
 	position: relative;
 	display: inline-table;
 }

 nav ul ul {
 	display: none;
 }

 nav ul li:hover > ul {
 	display: block;
 }

 nav ul li {
 	float: left;
 	width: 500px;
 	text-align: left;
 	border-bottom: 3px solid #a9a9a9;
 }

 nav ul li a:hover {
 	background: rgba(173, 216, 230, 0.75);
  color: white;
 }

 nav ul li a {
 	display: block;
 	padding: 15px 10px;
 	color: #a9a9a9;
 	text-decoration: none;
 }

 nav ul ul {
 	border-radius: 0px;
 	padding: 0;
 	position: absolute;
 	top: 100%;
 }

 nav ul ul li {
 	float: none;
 	border-bottom: 2px solid #a9a9a9;
 	position: relative;
 }

 nav ul ul li a {
 	padding: 15px 10px;
 	color: #838383;
 }

 nav ul ul li a:hover {
  text-decoration: none;
  color: white;
  background-color: transparent;
 }

 #down-triangle {
 	float: right;
 	width: 0;
  	height: 0;
  	margin-top: 10px;
  	border-top: 10px solid #a9a9a9;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
 }
