body{
  background-image: url("/Users/Guest/desktop/blackspace/img/johnimage.jpg");
  /*background-color: black;*/
}

@font-face {
    font-family: textGyre;
    src: url("/Users/Guest/desktop/blackspace/fonts/texgyrecursor-regular.otf") format("opentype");
}

@font-face {
    font-family: Larabiefont;
    src: url("/Users/Guest/desktop/blackspace/fonts/larabiefont rg.ttf") format("opentype");
}

@font-face {
    font-family: digital;
    src: url("/Users/Guest/desktop/blackspace/fonts/digital-7.ttf") format("opentype");
}


h1{
  display: block;
  text-align: center;
}

#textBox{
  background-image: url("/Users/Guest/desktop/blackspace/img/johnimage.jpg");
  background-color: black;
  color: white;
  font-size: 80px;
}

textarea{
  font-family: textGyre;
  outline: none;
  width:50%;
  height: 100%;
  border-style: none;
  border-color: Transparent;
  overflow: auto;
  text-align: right;
  float: left;
}
